<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>About Me</h3>
      <p>I'm a resident of Salt Lake City, Utah and love to make things. I enjoy Table Top Role Playing Games and coding.
      When I have the time I hike and ski.</p>
      <h3>Social Media</h3>
      <div class="nav nav-pills flex-column">
        <a  class="nav-link" target="_blank" href="https://github.com/mpgray">
          <button class="nav-item" mat-raised-button color="accent">
            <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
          </button>
        </a>
        <a  class="nav-link" target="_blank" href="https://www.linkedin.com/in/m--gray">
          <button class="nav-item" mat-raised-button color="primary">
            <i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span>
          </button>
        </a>
        <a  class="nav-link" target="_blank" href="https://twitter.com/m_p_gray">
          <button class="nav-item" mat-raised-button>
            <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
          </button>
        </a>
      </div>

      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Button Hero
      </ng-template>
      <h3>Button Hero
      <a target="_blank" href="https://github.com/buttonhero/buttonhero" style="position: relative; float: right;" mat-raised-button>
        <mat-icon>code</mat-icon>Code
      </a></h3>
      <h4>
        </h4>
      <p>
        For this project there are several modules, soldering and 3D printed parts all rolled into one. The programming was done in C and
        was great fun. What I remember most about this project was fixing a hardware problem in software.
      </p>
      <div class="video-wrap">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UZycO6gaxJE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Shmoozed
      </ng-template>
      <h3><img src="../../assets/img/logoSmallDark.png" height="32" width="32"/>Shmoozed
        <a target="_blank" href="http://www.shmoozed.com" style="position: relative; float: right;" mat-raised-button>
          <img src="../../assets/img/logoSmallDark.png" height="32" width="32"/>Website
        </a></h3>
      <p>
        Shmoozed is a web application designed to allow Sellers to better understand the market price for their items. This is done by trending price data for items over time. In addition, potential Buyers can provide their ideal price (how good of a deal or steal they want) and negotiate with sellers of those items, eventually coming to an agreement on a price.
      </p>
      <p>The stack is Angular, Java Spring Boot and MySQL. It is very well documented with continous deployment using Travis CI</p>
      <div class="video-wrap">
        <div class="video-container">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSQVVml6twfW8AifGcE_0ZI6n24oYMHJQ0K5YqJNr4nwVDVbZyQriAnVwbbwcV3BkF0JK-RJ3-KzfZU/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Creatures and Caverns
      </ng-template>
      <h3>Creatures and Caverns
        <a target="_blank" href="https://github.com/mpgray/creaturesandcaverns" style="position: relative; float: right;" mat-raised-button>
          <mat-icon>code</mat-icon>Code
        </a></h3>
      <p>
      This is a multi-threaded client-server game that supports up to three players. You fight continuing difficult creatures until each of the
      players is dead. There are three classes and you continue to play getting rewarded a final score upon death. The server is down but the code
      for the server is in the code and you can connect to any running server using the interface. I will run a permanent server soon and make improvements to
      the player matching system because this is a pretty fun game.
      </p>
      <img src="../../assets/img/cavernsandcreatures.png" height="282" width="359"/>
      <div style="position: relative; float: right;" >
        <img src="../../assets/img/Dragon.gif" height="172" width="179"/>
      </div>
      <div style="position: relative; float: right;" >
        <img src="../../assets/img/Rogue-Sword-Crit.gif" height="160" width="240"/>
      </div>
      <div style="position: relative; float: right;" >
        <img src="../../assets/img/Sage-Magic-Crit.gif" height="160" width="240"/>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Beverage Finder
      </ng-template>
      <h3>Beverage Finder
        <a target="_blank" href="https://github.com/cs-2450" style="position: relative; float: right;" mat-raised-button>
          <mat-icon>code</mat-icon>Code
        </a></h3>
      <p>
      This idea came about because of how awful Utah's Alcohol Beverage Control website is to navigate. This site scrapes that one for pricing, deals and
        availability, location and sales. I am particularly proud of the design choices I made at the time and when you compare them to <a target="_blank" href="https://abc.utah.gov/">
        https://abc.utah.gov/</a> it really stands out.
      </p>
      <div class="video-wrap">
      <div class="video-container">
        <img src="../../assets/img/af1.png" height="384" width="683"/>
      </div>
      </div>
      <div class="video-wrap">
        <div class="video-container">
        <img src="../../assets/img/af2.png" height="384" width="683"/></div>
      </div>
      <div class="video-wrap">
        <div class="video-container">

        <img src="../../assets/img/af3.png" height="384" width="683"/>
      </div>
      </div>
      <div class="video-wrap">
        <div class="video-container">

        <img src="../../assets/img/af4.png" height="384" width="683"/>
      </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
    </div>
  </div>
</div>
