<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>thumb_up</mat-icon>
        About Me
      </ng-template>
      Content 1
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>thumb_up</mat-icon>
        Experience
      </ng-template>
      Content 2
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>thumb_up</mat-icon>
        Projects
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>
