<!-- done with bootstrap -->
<div class="row" style="border-style: solid; border-width: 1px">
  <div class="left-column col" style="text-align: right"><strong>1st Demo Slider</strong></div>
  <div class="center-column col" *ngIf="sliderValue"><mat-slider min="1" max="10000" step="1" (click)='updateSlider()' [(value)]="sliderValue"></mat-slider></div>
  <div class="right-column col" *ngIf="sliderValue">People: {{sliderValue}}</div>
</div>

<!-- done manually -->
<div class="foot-block" style="text-align: right">
  <div class="left-column foot-left">&nbsp;</div>
  <div class="center-column foot-center">&nbsp;</div>
  <div class="right-column foot-right">&nbsp;</div>
  <br style="clear: left;" />
</div>
