.left-column, .right-column {
  background-color: lightblue;
}

.center-column {
  background-color: white;
}


.foot-block {
  width: 100%;
  margin-top: 5px;
  background-color: lightblue;
  .foot-right, .foot-left, .foot-center {
    width: 33%;
    float: left;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      float: none;
      width: 100% !important;
    }
  }
}

mat-slider {
  width: 350px;
}
